.Card {
  border-radius: 0.5rem;
  overflow: hidden;
  min-width: 250px;
  height: max-content;
}

.Header {
  position: relative;
}

.Image {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  filter: blur(1px);
}

.InfoCard {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  color: var(--grey-dark);
  padding: 0.8rem;
  font-size: 0.9rem;
  background: var(--bg-ligth);
  height: fit-content;
}

.IconWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Tooltip::before,
.Tooltip::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(63, 63, 63);
  transition: opacity 500ms ease-in;
  opacity: 0;
  content: "";
}

.Tooltip::before {
  width: 20px;
  height: 20px;
  clip-path: polygon(50% 50%, 0% 100%, 100% 100%);
}

.Tooltip::after {
  font-size: 0.7rem;
  bottom: -30px;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: rgb(221, 221, 221);
  font-weight: var(--font-bold);
  content: "Ver vídeo completo y/o aprobar seña";
  text-wrap: nowrap;
}

.Tooltip:hover::before,
.Tooltip:hover::after {
  opacity: 1;
}

.IconPlay {
  width: 2rem;
  height: 2rem;
  color: white;
}

.Label {
  padding: 0.1rem 1rem;
  border: 1px solid var(--green-dark);
  text-transform: lowercase;
  border-radius: 1rem;
  background-color: white;
  color: var(--green-dark);
}

.Field {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.Icon {
  width: 1.4rem;
  height: 1.4rem;
}

.Btn {
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
  border-radius: 1rem;
  background: var(--bg-main);
  font-weight: bold;
  color: white;
  transition: all 0.1s ease-in-out;
}

.Btn:hover {
  box-shadow: var(--shadow);
}

.BtnAccept {
  background: var(--bg-item-navbar);
}
