.FilterSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.BarSearchInput {
  border: none;
  color: var(--grey-light);
  background-color: var(--blue-light);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: 0.8rem;
  min-width: 20rem;
  transition: outline 200ms ease-in;
}

.BarSearchInput:focus {
  outline: 1px solid #5f5f5f60;
  outline-offset: 0;
}

.Butttons {
  display: flex;
  gap: 1rem;
}

.Button {
  background-color: var(--blue-light);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  transition: all 200ms ease-in;
}

.Button:hover {
  outline: 1px solid #5f5f5f48;
  outline-offset: 0;
}

.ButtonFilter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.9rem;
  color: var(--grey-light);
}
