.Table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
}

.TableHead {
  font-weight: var(--font-semibold);
  color: var(--green-dark);
}

.CellHead {
  padding: 0.625rem;
}

.TableRowFirstChild {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.TableRowLastChild {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.Cell {
  padding: 0.625rem;
  color: var(--grey-light);
  font-size: 0.875rem;
  font-weight: var(--Weigth-Medium);
}

.WrapperButtons {
  @apply flex gap-[10px] items-center;
}

.Button {
  @apply bg-[transparent] w-[1.5rem] h-[1.5rem] flex justify-center items-center p-0 m-0;
}
