@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scroll-bar-color: #026937;
  --green-dark: #026937;
  --green-mid: #35944b;
  --green-ligth: #43b649;
  --blue-dark: #205b70;
  --blue-mid: #0e7774;
  --blue-light: #ebf4ed;
  --grey-dark: #393636;
  --grey-light: #5f5f5f;
  --white: #fff;
  --error: rgb(252, 68, 68);
  --bg-main: linear-gradient(120deg, #026937 0%, #35944b 100%);
  --bg-secondary: linear-gradient(306deg, #026937 0%, #35944b 100%);
  --bg-item-navbar: linear-gradient(90deg, #43b649 0%, #12803f 100%);
  --bg-icon: linear-gradient(180deg, #43b649 0%, #069a7e 100%);
  --bg-ligth: linear-gradient(
    180deg,
    #ebf4ed 0%,
    rgba(202, 252, 231, 0.66) 100%
  );
  --shadow: 4px 4px 23px 0px rgba(0, 0, 0, 0.3);
  --font-mid: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

*::selection {
  background-color: var(--green-dark);
  color: var(--white);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--scroll-bar-color) var(--white);
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-color);
  border-radius: 10px;
  border: 4px solid var(--white);
}

.general {
  @apply flex flex-col place-items-center;
}

h1 {
  @apply font-bold text-2xl;
}

input {
  @apply outline-none border-2 border-gray-300 focus:border-indigo-500 px-2 py-1 rounded-lg;
}

label {
  @apply flex flex-col;
}

.primary-button {
  @apply bg-[#7ed956] text-gray-800 px-3 py-2 rounded-lg shadow-lg hover:bg-[#63b63e];
}

.secondary-button {
  @apply bg-gray-200 text-gray-800 px-3 py-2 rounded-lg shadow-lg hover:bg-gray-300;
}

.Logo {
  background-image: url(../public/escudoUdeA.png);
}
.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 360px;
  width: 360px;
  border: 4px dashed #000000;
  padding: 20px;
  margin-top: 10%; /* Margen superior de 20 píxeles */
  margin-bottom: 20px; /* Margen inferior de 20 píxeles */
}

.menu {
  width: 10%;
  height: 100vh;
  float: left;
}
.main {
  width: 90%;
  height: 100%;
  float: right;
}

.dropdownmenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  margin: 0 auto;
}

.chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 300px;
  margin-top: 100px;
  margin: 0 auto;
}

button {
  padding: 12px;
  font-size: medium;
  /* background-color: #787878; */
  /* background: var(--bg-main); */
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  margin-bottom: 200px;
  height: 100vh;
  margin: 0 auto;
}

.logform {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px;
  height: 10vh;
  margin: 0 auto;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #00a226;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #009732;
}
.SidebarList #active {
  background-color: #00bd72;
}
.row #icon {
  flex: 30%;
  display: grid;
  font-family: "Jost", sans-serif;
}

.Link-sidebar {
  @apply flex bg-white rounded-lg  px-2 py-3 justify-start items-center gap-1;
}
.button-sidebar {
  background: var(--bg-main);
  color: white;
}

.background:hover {
  background: var(--bg-item-navbar);
  color: white;
}
.background-active {
  background: var(--bg-item-navbar);
  color: white;
}
.debug {
  border: 1px red solid;
}
