.Main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--bg-main);
}

.SectionCentral {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4.5rem;
  text-align: center;
}

.Logo {
  position: relative;
  color: var(--white);
  font-size: 5rem;
  line-height: normal;
  width: fit-content;
  margin: 0 auto;
}

.Slogan {
  color: var(--blue-light);
  font-size: 1.2rem;
  font-weight: var(--font-mid);
  line-height: normal;
  max-width: 40ch;
  margin-bottom: 1rem;
}

.SloganSubtitle {
  font-weight: var(--font-semibold);
  font-size: 1.4rem;
  margin-top: 1rem;
}

.Btn {
  background-color: var(--blue-light);
  color: var(--grey-light);
  padding: 0.7rem;
  border-radius: 1.7rem;
  width: 80%;
  max-width: 15rem;
  transition: all 300ms ease-in-out;
}

.Btn:hover {
  box-shadow: var(--shadow);
}

.Contact {
  display: block;
  position: relative;
  color: var(--white);
}

.Contact::after {
  position: absolute;
  bottom: -0.3rem;
  left: 0;
  content: "";
  width: 20%;
  height: 3px;
  transform-origin: 0;
  background-color: var(--white);
  transition: transform 300ms ease-in-out;
}

.Contact:hover::after {
  transform: scaleX(3);
}

.Footer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 0 3rem 3rem 3rem;
  align-items: center;
}
